/*body to put background*/
body {
  background-image: url("../../assets/bgBonjour.jpeg");
  background-size: cover;
  background-position: center;
  font-family: 'HFBronte';
  padding-bottom: 30px;
}

a, u {
  text-decoration: none !important;
  /* color: black; */
  color: #000 !important;
}

/* main div*/
.main-div {
  /* min-height: calc(100vh - 68px); */
  font-family: 'HFBronte';
}

/* footer */
.footer--pin {
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}

/* #yolContain {
  border: solid 2px red;
} */

#container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    /* border: solid 2px black; */
}

#container:hover .pic1 {
  display: none;
}
  
#container:hover .pic2 {
  display: block;
}

#container .pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container .pic2 {
  display: none;
}

/*Mobilee*/
@media(max-width: 768px) {
  .footer--pin{
    font-size: 12px;
  }
}

@media (orientation: landscape) {
  .footer--pin{
    font-size: 12px;
  }
  .main-div {
    min-height: 100vh;
  }
}