/*body to put background*/
body {
  background-image: url("../../assets/bgBonjour.jpeg");
  background-size: cover;
  background-position: center;
}

/* main div*/
.main-div {
  min-height: calc(100vh - 68px);
}

/* footer */
.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.container:hover .pic1 {
  display: none;
}
  
.container:hover .pic2 {
  display: block;
}

.container .pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .pic2 {
  display: none;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Now Streaming */
.now-streaming {
  text-align: center;
  /* margin: 20px; */
}

.streaming-heading {
  inline-size: 95%;
  font-size: 24px;
  color: #333;
  overflow-wrap: break-word;
}

.streaming-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.streaming-link {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: #1db954;
  width: 90%;
}

.streaming-link.spotify {
  background-color: #1db954;
}

.streaming-link.apple-music {
  background-color: #ff3b30;
}

.streaming-link.youtube-music {
  background-color: #ff0000;
}

.streaming-link:hover {
  background-color: #333;
}

.streaming-icon {
  margin-right: 8px;
}

/*Mobilee*/
@media(max-width: 768px) {
  .streaming-link{
    width: 85%;
  }
}

@media (max-height: 1000px) {
  .main-div {
    min-height: calc(100vh + 150px);
  }
}

@media (max-height: 750px) {
  .main-div {
    min-height: calc(100vh + 250px);
  }
}

@media (orientation: landscape) {
  .footer--pin{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
  }
  .main-div {
    min-height: 100vh;
  }
}