.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    width: 100%;
    /* max-width: 300px; */
    /* margin: 10px; */
    /* padding: 20px; */
    /* background-color: #f2f2f2; */
  }