.maindiv {
    /* border: 2px solid greenyellow; */
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 100vh;
    /* height: 855px; */
    /* max-height: 91vh; */
    /* display: flex; */
    /* flex-wrap: wrap;
    justify-content: center; */
  }
  
  .carousel {
    width: 100%;
    height: 100%;
  }
  
  .videoContainer {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .videoContainer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .carouselCell {
    /* height: 100vh; */
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 5px solid yellow; */
    /* width: 102.8%; */
    /* height: 818px; */
    /* height: 85vh; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* margin-right: 10px; */
    /* background: #8C8; */
    /* border-radius: 5px; */
    /* counter-increment: carousel-cell; */
    /* overflow-y: hidden; */
    /* bottom: 1px; */
    /* top: 5%; */
  }